h1, h2, h3, h4, p, ul {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
 
.conteiner {
    width: 100%;
    max-width: 1468px;
    padding-left: 50px;
}

.title{
    font-size: 32px;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 75px;
}