//UTILS styles
@import './utils/variables';

// BASE styles
@import './base/base';
@import './base/reset';

//COMPONENT styles
@import './components/header';
@import './components/contacts';
@import './components/education';
@import './components/expirience';
@import './components/language';
@import './components/profile';
@import './components/reference';
@import './components/right-side';
@import './components/skills'