.language-title{
    margin-bottom: 50px;
}

.language-item{
    display: flex;
    align-items: baseline;
    gap: 20px;
}

.language-box{
    width: 10px;
    height: 10px;
    background-color: #000000;
}

.language-list-text{
    margin-top: 30px;
    font-size: 24px;
    font-weight: 600;
}