.html {
    scroll-behavior: smooth;
}

body {
    color: var(--primery-text-color);
    background-color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;

}