.education-title{
    margin-top: 100px;
    display: inline-block;
}

.education-list-text-color{
    font-weight: 400;
    margin-top: 30px;
    font-size: 24px;
    color: var(--second-text-color);
}

.education-list-text-bold{

    margin-top: 15px;
    font-size: 24px;
    font-weight: 500;
}

.education-list-text{
    font-weight: 400;
    margin-top: 15px;
    font-size: 24px;
}
