.expirience-title{
    margin-bottom: 30px;
}



.expirience-list{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.expirience-list-text{
    margin-top: 15px;
    width: 700px;
    font-size: 24px;
}

.expirience-list-text-bold{
    font-weight: 500;
}