
.experience-list{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.experience-list-text{
    margin-top: 15px;
    width: 700px;
    font-size: 24px;
}

.experience-list-text-bold{
    font-weight: 500;
}