.header-conteiner{
    display: flex;
    gap: 290px;
    position: relative;

}

.header-left-side{
    display: flex;
    flex-direction: column;
}

.header-person-name{
padding-top: 100px;
font-size: 108px;
text-transform: uppercase;
}

.header-firsname{
    font-weight: 500;
}

.header-line {
    display: block;
    background-color: rgba(0, 0, 0, 0.1);
    height: 5px;
    width: 100%;
    margin-top: 345px;
    position: absolute;
    z-index: 1;
}

.header-person-position{
    font-size: 32px;
    margin-top: 20px;
}

.header-right-side{
    display: flex;
    flex-direction: row;
    gap: 60px;
    position: relative;
}

.header-img{
    z-index: 10;
    width: 500px;
    height: 500px;
}

.header-box{
    width: 70px;
    height: 70px;
    background-color: #000000;
    margin-top: 310px;
    z-index: 10;
}

.header-line-right{
    display: block;
    background-color: rgba(0, 0, 0, 0.1);
    width: 5px;
    height: 100%;
    position: absolute;
    z-index: 1;
    margin-left: 595px;
}